*.o
.DS_Store
.*.swp
/env
/dl
/.config
/.config.old
/.toolchain_build_ver
/bin
/build_dir
/staging_dir
/tmp
/logs
/feeds
/feeds.conf
/target/linux/feeds
/overlay
/package/feeds
/package/openwrt-packages
/*.patch
/llvm-bpf*
key-build*
private-key.pem
public-key.pem
*.orig
*.rej
files/etc/config/
files/etc/uci-defaults/
files/root/
files/etc/shadow
files/etc/passwd
*~
.#*
*#
files/etc/ssh/ssh_host_*
files/root/.ssh/
.emacs.desktop*
TAGS*~
git-src
.project
.cproject
.ccache
.vscode*
recompile.sh
sync_ninja.sh
build_local.sh
push_github.sh
