CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_filogic=y
CONFIG_TARGET_mediatek_filogic_DEVICE_glinet_gl-mt6000=y

# --- OPTIMISATIONS NINJA (James) ---
CONFIG_TARGET_OPTIMIZATION="-O2 -pipe -mcpu=cortex-a53+crc+crypto"
CONFIG_USE_LTO=y
CONFIG_USE_GC_SECTIONS=y

# --- SYSTÈME & PERFORMANCE ---
CONFIG_DEVEL=y
CONFIG_PACKAGE_irqbalance=y
CONFIG_OPENSSL_ENGINE_BUILTIN_DEVCRYPTO=y
CONFIG_OPENSSL_OPTIMIZE_SPEED=y
CONFIG_PACKAGE_wpad-openssl=y
# CONFIG_PACKAGE_wpad-mbedtls is not set

# --- RÉSEAU (PBR, Wireguard, DNS) ---
CONFIG_PACKAGE_dnsmasq-full=y
# CONFIG_PACKAGE_dnsmasq is not set
CONFIG_PACKAGE_pbr=y
CONFIG_PACKAGE_luci-app-pbr=y
CONFIG_PACKAGE_wireguard-tools=y
CONFIG_PACKAGE_luci-proto-wireguard=y
# CONFIG_PACKAGE_odhcp6c is not set
# CONFIG_PACKAGE_odhcpd-ipv6only is not set

# --- MULTIMÉDIA & USB ---
CONFIG_PACKAGE_block-mount=y
CONFIG_PACKAGE_kmod-usb-storage=y
CONFIG_PACKAGE_kmod-usb-storage-uas=y
CONFIG_PACKAGE_kmod-fs-ntfs3=y
CONFIG_PACKAGE_kmod-fs-exfat=y
CONFIG_PACKAGE_minidlna=y
CONFIG_PACKAGE_luci-app-minidlna=y

# --- INTERFACE & ACCÈS ---
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_uhttpd=y
CONFIG_PACKAGE_luci-app-uhttpd=y
CONFIG_PACKAGE_luci-theme-material=y
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_nano-full=y
CONFIG_PACKAGE_tttyd=y
CONFIG_PACKAGE_luci-app-ttyd=y

# --- NETTOYAGE ---
# CONFIG_PACKAGE_luci-app-statistics is not set
# CONFIG_KERNEL_DEBUG_INFO is not set
# CONFIG_KERNEL_DEBUG_KERNEL is not set
# CONFIG_KERNEL_SWAP is not set
